<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />

    <title>Titre de votre document</title>
    <meta name="DC.Creator" content="Prénom Nom du premier auteur, Auteur 2" />
    <meta name="DC.Date.created" scheme="W3CDTF" content="AAAA-MM-JJ" />
    <meta name="DC.Subject" content="debutant, decideur, expert, gourou, xhtml, css, dom, png, structure, mise_en_page, pages_dynamiques, accessibilite, etude_cas, navigateurs, multimedia" />
    <meta name="DC.Abstract" content="Une phrase ou deux d'introduction/résumé pour le cadre « En bref »." />

  </head>
  <body class="article">

    <h1>Titre de votre document</h1>

    <h2>Première partie</h2>
    <p>Exemple d'insertion d'une image :
      <img src="annexes/..." alt="Indiquer_ici_un_texte_alternatif"
           width="" height="" /></p>
    <p>Tous les fichiers joints au document sont dans le répertoire
    <code>annexes/</code> : les balises <code>&lt;img&gt;</code> et
    <code>&lt;a&gt;</code> doivent pointer dans ce répertoire.</p>
  </body>
</html>
